**/build/ 
**/.dart_tool/ 
**/.packages 
**/.flutter-plugins 
**/.idea/ 
**/.vscode/ 
*.iml 
*.log 
pubspec.lock 
.android/ 
.ios/ 
.flutter-plugins-dependencies 
.flutter-plugins 
.packages 
.DS_Store 
google-service-info.json 
key.jks 
*.keystore 
